<section class="hero is-primary is-medium", style = "height: 400px;">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to articles_path, class: 'navbar-item' do %>
            <img src = "https://i.pinimg.com/originals/fd/80/ec/fd80ecec48eba2a9adb76e4133905879.png">
            <span class = 'has-textweight-bold is-size-4 ml-4'> Let's Talk</span>
          <% end %>
          </a>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered", style = "margin-top: -50px;">
      <h1 class="title">
        let's talk
      </h1>
      <h2 class="subtitle">
        What are you thinking of right now?
      </h2>
      <%= link_to 'Say Something', new_article_path,  class: 'button is-gray' %>
    </div>
  </div>

</section>
